/* style prueba */

#header {
  display: flex;
  align-items: center;
  height: 76px;
  justify-content: space-between;
  padding-bottom: 19px;
  padding-top: 19px;
  padding-left: 121px;
  background-color: #fff;
  /* Otros estilos según necesites */
}

#LogoHeader {
  height: 76px;
  width: 158;
}

#BuscadorHeader {
  padding-right: 120px;
  margin-right: 120px;
}
