/* styleHeader.scss */

#header {
  display: flex;
  align-items: center;
  height: 76px;
  justify-content: space-between;
  padding: 19px 20px; /* Ajusta el padding vertical y horizontal */
  background-color: #fff;
  /* Otros estilos según necesites */

  @media (max-width: 575px) { /* Cambia a disposición vertical */
    align-items: flex-start; /* Alinea los elementos a la izquierda */
    padding: 15px 20px; /* Ajusta el padding vertical y horizontal */
    width: 95vw;
  }

  @media (min-width: 576px) and (max-width: 767px) {
    /* Estilos para teléfonos en modo horizontal */
    padding: 15px 40px; /* Ajusta el padding vertical y horizontal */
  }

  @media (min-width: 768px) and (max-width: 991px) {
    /* Estilos para tabletas */
    padding: 15px 60px; /* Ajusta el padding vertical y horizontal */
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    /* Estilos para pantallas de escritorio normales */
    padding: 15px 80px; /* Ajusta el padding vertical y horizontal */
  }
  
}

#LogoHeader {
  height: 76px;
  width: 158px;

}

#BuscadorHeader {
  padding-right: 120px;
  margin-right: 120px;
}

/* Estilos para los botones en pantallas pequeñas */
.header-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  justify-content: space-between;
  gap: 200px;
  margin-right: 120px;

  @media (max-width: 575px) { 

    display: none;
    
  }

  @media (min-width: 576px) and (max-width: 767px) {
    /* Estilos para teléfonos en modo horizontal */
    gap: 25px;
    border-right: 50px;
  }

  @media (min-width: 768px) and (max-width: 991px) {
    /* Estilos para tabletas */
    gap: 50px;
    border-right: 80px;
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    /* Estilos para pantallas de escritorio normales */
    gap: 50px;
    border-right: 80px;
  }
}