/* style prueba */

#Header {
  display: flex;
  align-items: center;
  height: 76px;
  justify-content: space-between;
  padding-bottom: 19px;
  padding-top: 19px;
  padding-left: 101px;
  background-color: #fff;
  /* Otros estilos según necesites */
}

#LogoHeader {
  height: 76px;
  width: 128;
}

#BuscadorHeader {
  padding-right: 20px;
  margin-right: 20px;
}

.mr-auto {
  padding-left: 215px;
  gap: 5.5rem;

}

.custom-navbar {
  justify-content: space-between;
  background-color: #fff;
}

