/* Base styles for the footer */
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f5f5f5;
  color: #000000;
}

/* Styles for the logo */
.logo {
  flex: 1;
  width: 6em;
  height: 3em;
}

.logo-1 {
  flex: 2;
  margin-left: 20px;
  width: 6em;
  height: 3em;
}

/* Styles for the information */
.footer-info {
  flex: 3;
  text-align: center;
  font-size: 18px; /* Adjust font size */
  font-family: Arial, sans-serif; /* Adjust font family */
}

/* Styles for the buttons */
.footer-buttons {
  flex: 1; /* Equal division */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; /* Align items to the right */
}

/* Adjust button styles */
.footer-button {
  margin-bottom: 10px;
  margin-right: 25px; /* Add margin to the right for spacing */
}

/* Styles for buttons on small screens */
@media (max-width: 768px) {
  .footer {
    top: 400px;
    width: 430px;
    flex-direction: column;
    text-align: center;
  }

  .footer-logo,
  .footer-info,
  .footer-buttons {
    flex: auto;
    margin-bottom: 10px;
  }
}

