.footer {
  position: relative; 
  left: 0;
  bottom: 0; 
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  color: #000000;
}
/* Styles for the logo */
.logo {
  flex: 1;
  width: 6em;
  height: 3em;
  margin-left: 25px;
}

.logo-1 {
  flex: 2;
  margin-left: 20px;
  width: 6em;
  height: 3em;
}

/* Styles for the information */
.footer-info {
  flex: 4;
  margin-left: 15%;
}
.footer-info p{
  text-align: center;
  font-size: 15px; /* Adjust font size */
  font-family: 'Libre Baskerville', serif;
}
/* Styles for the buttons */
.footer-buttons {
  flex: 1; /* Equal division */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; /* Align items to the right */
}

/* Adjust button styles */
.footer-button {
  background-color: #a742cc; 
  color: #fff;
  border: 1px solid #fff;
  margin-bottom: 10px;
  margin-right: 25px; /* Add margin to the right for spacing */
  padding: 8px 12px;
  border-radius: 5px;
  display: flex;
  font-size: 12px; /* Adjust font size */ 
  align-items: center;
}

/* Styles for buttons on small screens */
@media (max-width: 780px) {
  .footer {
    top: 100%;
    width: 100%;
    flex-direction: column;
    text-align: center;
  }

  .footer-logo,
  .footer-buttons {
    margin-bottom: 10px;
  }
}

@media (max-width: 880px) {
  .footer-info p{
    font-size: 12px;
    margin-left: 5%;
  }

  .logo {
    flex: 1;
    width: 6em;
    height: 3em;
    margin-left: -15px;
  }
  
  .logo-1 {
    flex: 2;
    margin-left: -5px;
    width: 6em;
    height: 3em;
  }
}