.Contact{
    position: relative;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Contact h5{
    position: relative;
    top: 30px;
    text-align: center;
    
}

.Contact h2{
    position: relative;
    top: 40px;
    text-align: center;
}


.container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
} 

.contact__options {
    display: flex;
    flex-direction: column;
    
    gap: 1.9rem;
}

.contact__option {
    position: relative;
    width: 200px;
    right: 100px;
    background: transparent;
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid rgb(11, 10, 10);
    transition: var(--transition);
    cursor: pointer;
}

form span {
    font-size: 0.8rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input,
textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid rgb(16, 16, 16);
    resize: none;
    color: var(--color-white);
}

h5{
    position: relative;
    text-align: center;
}

h2{
    position: relative;
    text-align: center;
}