@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body{
    background: #F0F0F0;
    
    
}
h1{
    color: #A742CC;
    font-family: 'Libre Baskerville';
    text-align: center;
    margin: 30px;
    font-size: 60px;
    font-weight: 400;
    
}
h2{
    background: #A742CC;
    color: #FFFFFF;
    font-family: 'Libre Baskerville';
    font-weight: 400;
    padding: 15px;
    text-align: center;
    font-size: 35px;
}
article{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen img{
    margin: 35px;
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.200); 
}
p{
    
    width: 65%;
    font-family: "Inter";
    font-size: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.container2 h2{
    background: #F2C499;
    color: #000000;
    font-family: 'Libre Baskerville';
    font-weight: 400;
    padding: 15px;
    text-align: center;
    font-size: 35px;
}


.container3 h2{
    background: #A742CC;
    color: #FFFFFF;
    font-family: 'Libre Baskerville';
    padding: 15px;
    text-align: center;
    font-size: 35px;

}
.imagenes{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagenes img{
    margin: 10px;
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.200); 
}
.imagenes .personaje1{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagenes .personaje1 h3{
    text-align: center;
    padding: 0;
    margin: 10px;
    font-size: 30px;
}


.imagenes .personaje2{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagenes .personaje2 h3{
    text-align: center;
    padding: 0;
    margin: 10px;
    font-size: 30px;
}

.imagenes .personaje3{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagenes .personaje3 h3{
    text-align: center;
    padding: 0;
    margin: 10px;
    font-size: 30px;
}


@media screen and (max-width: 768px){
    section *{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

    }
    img{
        width: 330px;
    }
    h1{
        font-size: 35px;
    }
    h2{
        font-size: 25px;
    }
    p{
        font-size: 25px;
        
    }
    .container2 h2{
        font-size: 25px;
    }
    .container3 h2{
        font-size: 25px;
    }
    .imagenes .personaje1 h3{
        font-size: 25px;
    }
    .imagenes .personaje2 h3{
        font-size: 25px;
    }
    .imagenes .personaje3 h3{
        font-size: 25px;
    }

}
