@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body{
    background: #F0F0F0;
    
    
}
h1{
    color: #A742CC;
    font-family: 'Libre Baskerville';
    text-align: center;
    margin: 30px;
    font-size: 60px;
    font-weight: 400;
    
}
h2{
    color: white;
    background:linear-gradient(90deg, #722b8c, #A742CC,#6d1c8b);
    box-shadow: 0 0 2px black;
    font-family: 'Libre Baskerville';
    font-weight: 400;
    padding: 15px;
    text-align: center;
    font-size: 35px;
}
article{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen img{
    margin: 35px;
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.200); 
}
p{
    
    width: 65%;
    font-family: "Inter";
    font-size: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.container2 h2{
    background: linear-gradient(60deg, #ed9747,#F2C499,#ed9747);
    color: #000000;
    font-family: 'Libre Baskerville';
    font-weight: 400;
    padding: 15px;
    text-align: center;
    font-size: 35px;
}


.container3 h2{
    background:linear-gradient(90deg, #722b8c, #A742CC,#6d1c8b);
    color: #FFFFFF;
    font-family: 'Libre Baskerville';
    padding: 15px;
    text-align: center;
    font-size: 35px;

}
.imagenes{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagenes img{
    margin: 10px;
    box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.200); 
}
.imagenes .personaje1{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagenes .personaje1 h3{
    text-align: center;
    padding: 0;
    margin: 10px;
    font-size: 30px;
}


.imagenes .personaje2{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagenes .personaje2 h3{
    text-align: center;
    padding: 0;
    margin: 10px;
    font-size: 30px;
}

.imagenes .personaje3{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Define la animación */
@keyframes zoomIn {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

/* Aplica la animación a las imágenes */
.imagenes .personaje1 img,
.imagenes .personaje2 img,
.imagenes .personaje3 img{
    transition: transform 0.3s ease;
}

.imagenes .personaje1 img:hover,
.imagenes .personaje2 img:hover,
.imagenes .personaje3 img:hover {
    animation: zoomIn 1s infinite;
}
.imagenes .personaje3 h3{
    text-align: center;
    padding: 0;
    margin: 10px;
    font-size: 30px;
}


@media screen and (max-width: 768px){
    section *{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        

    }
    h1{
        font-size: 35px;
    }
    h2{
        font-size: 30px;
    }
    p{
        font-size: 22px;
    }
    img{
        width: 320px;
    }
    .container2 h2{
        font-size: 30px;
    }
    .container3 h2{
        font-size: 30px;
    }
    .imagenes .personaje1 h3{
        font-size: 26px;
    }
    .imagenes .personaje2 h3{
        font-size: 26px;
    }
    .imagenes .personaje3 h3{
        font-size: 26px;
    }
}

