/* style prueba */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f5f5f5;
  /* Otros estilos según necesites */
}

.logo img {
  height: 40px;
}

.boton {
  
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.buscador {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  img {
    height: 20px;
    margin-right: 5px;
  }
  input {
    border: none;
    outline: none;
  }
}
