@import url('https://fonts.googleapis.com/css2?family=Inter&family=Libre+Baskerville&display=swap');
.cursos {
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.cursos .boton {
  position: relative;
  margin: 10px;
  padding: 10px 20px;
  background: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family:'Inter', sans-serif;
  font-size: small;
}
.select-buttons  {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #A742CC;
}

.select-buttons .selector-button {
  margin: 0;
  padding: 10px 20px;
  background: transparent;
  border:none ;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Libre Baskerville', serif;
  font-size: xx-large;
}

.cursos .ColorBlack {
color: black;
}

.cursos .ColorWhite {
  color: #A742CC
} 