.cursos {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.cursos .Buttons {
  margin: 10px;
  padding: 10px 20px;
  background-color: #0c0c0c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.select-buttons  {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #A742CC;
}

.select-buttons .selector-button {
  margin: 10px;
  padding: 10px 20px;
  background: transparent;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: larger;
}
.select-buttons .Selectorbotton:hover {
  color: white;
}
