  @import url('https://fonts.googleapis.com/css2?family=Inter&family=Libre+Baskerville&display=swap');

  .filtered-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2em;
}
.filtered-content .filtered-content-image{
    width: 20vw;
    height: 19vh;
    margin-right: 4em;
}
.filtered-content p {
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    width: 20vw;
    margin: 0;
}
